body{
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 50px;
}

.myrow{
    border: solid 3px grey;
    border: solid 3px grey;
    font-style: none;
    font-color: grey;
}

.mycol{
    border: solid 3px grey;
    font-style: none;
    font-color: grey;

}
.aboutme{
    width: 500px;
}

.figure{
    font-style: none;
    font-color: grey;
}

.myform{
    max-width: 750px;
}

.photo {
    display: table;
}
.photo a {
    vertical-align: middle;
    display: table-cell;
}
.photo img {
    display: block;
    height: auto;
    width: 100%;
    vertical-align: middle;
}