body{
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 50px;
}

.myrow{
    border: solid 3px darkgreen;
    font-style: none;
    font-color: grey;
    padding: 2px;
}

.mycol{
    border: solid 3px darkred;
    font-style: none;
    font-color: grey;
}

.aboutme{
    width: 500px;
}

.myform{
    max-width: 750px;
}

