body{
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 50px;
}

.tableheader{
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: grey;
    border: solid 3px grey;

    
}

.myrow{
    border: solid 3px grey;
    border: solid 3px grey;
    font-style: none;
    font-color: grey;
}

.mycol{
    border: solid 3px grey;
    font-style: none;
    font-color: grey;

}
.aboutme{
    width: 500px;
}

.figure{
    font-style: none;
    font-color: grey;
}

.myform{
    max-width: 750px;
}